<footer class="footer-section" id="cc">
    <div>
       <a href="http://www.facebook.com/onemmanuel4christ"> <i class="social-icon fab fa-facebook-f fa-1x"></i></a>
        <i class="social-icon fab fa-twitter fa-1x" ></i>
        <i class="social-icon fab fa-instagram fa-1x"></i>
        <a href="mailto:onemmanuel4christ@gmail.com"><i class="social-icon fas fa-envelope fa-1x"></i></a>
      <p>© Copyright 2020 E-Manuel Resources (07068513219)</p> <br>
     </div>
</footer>   
</body>
</html>