<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

    <!-- font -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>TIC</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
   <script src="js/bootstrap.js"></script>
  </head>
    <body>
        <section class="colored-section" id="title">

            <div class="container-fluid">
        
              <!-- Nav Bar -->
        
              <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- <a class="navbar-brand" href="">TIC</a> -->
                <img class="navbar-brand" src="/images/tic.png" alt="tic-logo"> <h1>TIC</h1> 
                <hr>
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>
               <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                 <ul class="navbar-nav ml-auto">

                 
                    <li class="nav-item">
                      <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#footer"><i class="fas fa-address-card"></i> Contact Us</a>
                    </li>
                    <li class="nav-item"> 
                      <a class="nav-link" href="login"><i class="fas fa-key"></i>Admin</a>
                    </li>  
                    </ul>
        
                </div>
              </nav>
                   <!-- Title -->
            
                   <div class="row">
            
                    <div class="col-lg-6">
                      <h2 class="big-heading">The Intercessors Community</h2> <p> ...Not under our watch shall any soul be lost!</p>
                      
                       <h2>3:00 AM - 4:00 Am Daily </h2>  
                       <p>The Intercessors' Community... E dey Work!!!</p>  
                       <a class="nav-link" id="action" href="#cta">Join TIC Group</a>
                     </div>
                     <div class="col-lg-6">
                      <img class="title-image" src="/images/angel.jpg" alt="angel-michael">
                    </div>
            
                  </div>
            
                </div>
            
              </section>